body{
	background-image: url("fondo3.jpg");
	max-height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#principal{
	text-align: center;
	height: 500px;
	width: 500px;
   margin: auto;
   margin-top: 8%;
  background-color: rgba(18, 120, 42, 0.9);
background: rgba(18, 120, 42, 0.9);
color: rgba(18, 120, 42, 0.9);
-webkit-box-shadow: inset 0px 6px 23px 25px rgba(24,107,8,1);
-moz-box-shadow: inset 0px 6px 23px 25px rgba(24,107,8,1);
box-shadow: inset 0px 6px 23px 25px rgba(24,107,8,1);
border: 8px dashed #0E6301;
}
div h1{
	font-family: "sans-serif";
	color: #E5E4E4;
	font-size: 55px;
	text-transform: uppercase;
	margin-top: 20px;
	
}
#botones{
	padding: 25px;
	margin-bottom: 5px;
}
button{
	text-decoration: none;
	border:2px solid #0E6301;
	background-color: #00610A;
	padding: 5px 5px 5px 5px;
	margin-left: 20px;
	
	border-radius: 8px;
	min-width: 80px;
}
p{
	color: #E5E4E4;
	font-family: "sans-serif";
	font-size: 20px;
	font-weight: bold;
}
button:focus{
	border:0;
	outline:0 none;
	border:2px solid #0E6301 !important; /*Preguntar*/

}
button:hover{
	transition: all .80s;
	-webkit-box-shadow: inset -2px -15px 63px 11px rgba(27,61,20,1);
-moz-box-shadow: inset -2px -15px 63px 11px rgba(27,61,20,1);
box-shadow: inset -2px -15px 63px 11px rgba(27,61,20,1);
}
#entradas{
text-align: center;
}
input{
	text-decoration: none;
	border:2px solid #0E6301;
	background-color: #00610A;
	padding: 5px 5px 5px 5px;
	margin-left: 20px;
	border-radius: 8px;
	min-width: 200px;
	max-height: 10px;
	min-height: 15px;
	color: #E5E4E4;
}
input:focus{
	border:0;
	outline:0 none;
	border:2px solid #0E6301 !important;/*Preguntar*/
	
	
}
#resultados{
	color: #E5E4E4;
	font-family: "sans-serif";
	font-size: 40px;
	font-weight: bold;
}

