*{
	 margin: 0px auto;
}
@keyframes scales{
  from{
   transform : scale(0.8);
  }
  transform : scale(1.1);
}

header{
background-image: url("../img/parallax2.jpg");
	min-height:400px;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}
header img{
	margin-top: -100%;
	padding-top: 20%;
	transition:.5s ease;
}
header img:hover{
	transform : scale(1.2,1.2);
	-moz-transform : scale(1.2,1.2); /* Firefox */
	-webkit-transform : scale(1.2,1.2); /* Chrome - Safari */
	-o-transform : scale(1.2,1.2); /* Opera */
}
header h1{
	margin-left: -200%;
	font-family: "Bauhaus 93";
	font-size: 90px;
	padding-top: 10%;
	color: #F0EFEF;
	letter-spacing: 5px;
}

header a:link{
	text-decoration: none;
}
header a:visited{
	text-decoration: none;
}
header a:hover{
	text-decoration: none;
}
header a:active{
	text-decoration: none;
}
header span{
	font-family: "Bauhaus 93";
	padding-top: 1%;
	color: #F0EFEF;
	font-size: 35px;
	border: solid 5px #F0EFEF;
	border-radius: 25px;
	padding: 15px;
}
header span:hover{
	background-color: #F0EFEF;
	color: black;
}

main{
	text-align: center;
	background-color: black;
	min-height: 350px;
}
main img{
	width: 310px;
	height: 310px;
	border-radius: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 25px;
	margin-bottom: 25px;
	transition: .5s ease;
}
main img:hover{
filter: saturate(180%);
}
main h3{
	 position: relative;
	z-index: 1;
	margin-top: -100px;
	font-family: "Bauhaus 93";
	font-size: 40px;
	color: #F0EFEF;
	background-color: rgba(0,0,0,0.8);
}
main h3:hover{
	cursor: pointer;
}
main p{
	padding-top: 75px;
	text-align: justify;
	font-family: "Bauhaus 93";
	font-size: 25px;
	color: #F0EFEF;
}

#veracruz{
	text-align: center;
	background-image: url("../img/textura.png");
	padding: 2.5%;
}
#veracruz h1{
	font-family: "Bauhaus 93";
	font-size: 90px;
	color: black;
	letter-spacing: 5px;
}
#veracruz p{
	font-family: "Bauhaus 93";
	font-size: 35px;
	color: black;	
}
.borde{
	border: 4px solid white;
	transition:.3s ease;
}
.ocultar{
	display: none;
	
}
#carrusel{
	background-color: #F0EFEF;
	text-align: center;
	padding-top: 25px;
}
#carrusel h1{
	font-family: "Bauhaus 93";
	font-size: 90px;
	color: black;
	letter-spacing: 5px;
	animation : scales 2s ease infinite alternate;	
}
hr{
 height:2px;  
   background-color:#ff0000; 
}
footer{
	text-align: center;
	padding-top: 25px;
	background-color: #F0EFEF;
}
footer iframe{
	width: 100%;
	height: 350px;
}
#footer{
	background-color: black;
	text-align: center;
	padding-top: 25px;
}
#footer{
	font-family: "Bauhaus 93";
	font-size: 20px;
	color: #F0EFEF;
}