*{
	margin: 0px;
}
/*Empieza estilos de la barra*/
header{
	max-height: 48px;
	background-color: black;
}
header,.parallax{
	border-bottom: 2px solid #f10b3c;
}
hr{
	border: 2px solid #14283;
	height: 5px;
}
body{
	background-color: #FFF7F7;
}
#logo-head img{
width: 100%;
}
#logo-head{
	width: 3%;
	background-color: #f10b3c;
	margin-left: 20px;
}
#navbar,#logo-head,#navbar{
float: left;
display:inline-block;
}
#navbar{
	margin-top: 10px;
}
#navbar ul li{
	display: inline-block;
	padding: 10px 28px;
	margin: -2px;
	color: white;
	transition: background .30s;
}
#navbar ul li:hover{
	background-color: red;
}
#login{
	float: right;
	display: inline-block;
}
#login img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-top: 4px;
	background-color: 
	white;
}
#login ul li{
	display: inline-block;
	float: left;
}
#login:hover{
background-color: #f10b3c;
}
.clean{
	clear: both;
}
.parallax{
	background-image: url("img/fondo.jpg");
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#titulo{
	font-weight: bold;
	font-size: 44px;
	color:black;
	padding: 10% 0px 0px 1%;

}
#sub-titulo{
	color: black;
	font-size: 30px;
	margin-top: -100px;
	padding: 1% 0 0 2%;
}
#lado-derecho{
	float: right;
	width: 22%;
	background-color: black;
	color: white;
	padding: 1%;
	border-left: 10px solid #f10b3c;
	min-height: 1000px;
}
#lado-izquierdo{
	float: left;
	width: 63%;
	margin-left: 5%;
	padding: 1%;
}
a:visited{
text-decoration: none;
color: red;
}
a:link{
	text-decoration: none;
	color:blue;
}
a:active{
	text-decoration: none;
	color:blue;
}
a:hover{
	font-size: 15px;
text-decoration: none;
color: blue;
}
img{
	float: left;
	width: 350px;
}
.imagenes{
	padding-right: 10px;
}
#texto1{
	padding-top: 12%;
	text-align: justify;
}
#texto2{
	padding-top: 13%;
	text-align: justify;
}
#texto3{
	padding-top: 7%;
	text-align: justify;
}
#texto4{
	padding-top: 2%;
	text-align: justify;
}
#texto5{
	padding-top: 15%;
	text-align: justify;
}